transformers~=4.39.1
datasets~=2.18.0
peft~=0.10.0
scikit-learn~=1.3.2
torch~=2.2.2
torchvision
sentencepiece
openpyxl
protobuf
pandas~=2.0.3
pyyaml~=6.0.1
requests~=2.31.0
pysafebrowsing~=0.1.2
numpy~=1.24.4
evaluate~=0.4.1
peft
langdetect
trl